/* @tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#__next {
  height: 100%;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  body {
    background: transparent !important;
  }

  #__next {
    min-height: 100vh;
    background: transparent !important;
  }

  /* Marquee Animation */
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-scroll {
    animation: scroll 30s linear forwards;
    will-change: transform; /* Smooth animation performance */
  }

  .animate-scroll.paused {
    animation-play-state: paused;
  }
}
